# 受領フォームの Excel は、どの経路（案件ページ・メールの URL）から開いても日本語の名前で保存されるようにする。
# URL は自動リンクで日本語の手前で切れないよう ASCII のまま（2026-09-12）

<Files "nyusha-juryo-form.xlsx">
  Header set Content-Disposition "attachment; filename=\"nyusha-juryo-form.xlsx\"; filename*=UTF-8''%E5%85%A5%E7%A4%BE%E6%99%82_%E5%BE%93%E6%A5%AD%E5%93%A1%E6%83%85%E5%A0%B1_%E5%8F%97%E9%A0%98%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A0.xlsx"
</Files>
<Files "taishoku-juryo-form.xlsx">
  Header set Content-Disposition "attachment; filename=\"taishoku-juryo-form.xlsx\"; filename*=UTF-8''%E9%80%80%E8%81%B7_%E5%8F%97%E9%A0%98%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A0.xlsx"
</Files>
<Files "shobyo-juryo-form.xlsx">
  Header set Content-Disposition "attachment; filename=\"shobyo-juryo-form.xlsx\"; filename*=UTF-8''%E5%82%B7%E7%97%85%E6%89%8B%E5%BD%93%E9%87%91_%E5%8F%97%E9%A0%98%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A0.xlsx"
</Files>
<Files "rosai-juryo-form.xlsx">
  Header set Content-Disposition "attachment; filename=\"rosai-juryo-form.xlsx\"; filename*=UTF-8''%E5%8A%B4%E7%81%BD_%E5%8F%97%E9%A0%98%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A0.xlsx"
</Files>
<Files "sanikukyu-juryo-form.xlsx">
  Header set Content-Disposition "attachment; filename=\"sanikukyu-juryo-form.xlsx\"; filename*=UTF-8''%E7%94%A3%E5%89%8D%E7%94%A3%E5%BE%8C%E3%83%BB%E8%82%B2%E5%85%90%E4%BC%91%E6%A5%AD_%E5%8F%97%E9%A0%98%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A0.xlsx"
</Files>
